{{title: "Регистрация"}}
{{script1: "../js/register.js"}}
<div class="form-wrapper">
    <h1>Регистрация</h1>
    <form class="auth" action="" method="post" enctype="multipart/form-data">

        <div class="item">
            <input type="text" name="login" placeholder="Логин">
        </div>

        <div class="item avatar">
            <input type="file" name="avatar">
        </div>

        <div class="item">
            <input type="password" name="password1" placeholder="Пароль">
        </div>

        <div class="item">
            <input type="password" name="password2" placeholder="Повторить пароль">
        </div>

        <input class="item btn" type="submit" value="Зарегистрироваться">
    </form>
</div> <!-- form-wrapper -->